// ----- ----- REACT AND MCW ----- ----- //
// don't touch this section //
$mdc-theme-primary:    #4caf50;
$mdc-theme-secondary:  #fdd835;
$mdc-theme-background: #fff;
$mdc-theme-important: #ef5350;
$mdc-theme-important_: #fbc02d;
$mdc-theme-text-color: rgba(0, 0, 0, 0.42);

@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/menu/mdc-menu";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/fab/mdc-fab";
@import "@material/chips/mdc-chips";
@import "@material/select/mdc-select";

@import "./MaterialButton/MaterialButton.scss";
@import "./FloatingAction/FloatingAction.scss";
@import "./TitleBanner/TitleComponent.scss";
@import "./Analitica/ChartCardComponent.scss";
@import "./Analitica/ValueChartComponent.scss";
@import "./Foot/FootComponent.scss";
@import "./Management/ManagementSection.scss";
@import "./Analitica/SwitchComponent.scss";
@import "./Analitica/AnaliticaSection.scss";
@import "./Analitica/RoomAnaliticaComponent.scss";
@import "./Management/SensorComponent.scss";
@import "./Management/RoomManagementComponent.scss";
@import "./Policy/PolicySection.scss";
@import "./Policy/MaterialSelectComponent.scss";

.body-wrapper {
  width: 100%;
  position: relative;
}

.switch-wrapper {
  position: absolute;
  width: 100%;
}

.switch-wrapper .section-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-wrapper {
  position: absolute;
  padding: 32px;
}

// Max selection menu height
.select-max-height {
  max-height: 100px;
}

// /// /// /// UTILITY /// /// /// //
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// /// /// /// CARDS /// /// /// //
.card__primary {
  padding: 1rem;
}

.card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  margin: 0;
}

.card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);
  word-wrap: break-word;
  width: 400px;
  padding: 0 1rem 8px 1rem;
}
