// ----- ----- REACT AND MCW ----- ----- //
// don't touch this section //
$mdc-theme-primary:    #4caf50;
$mdc-theme-secondary:  #fdd835;
$mdc-theme-background: #fff;

@import "./MaterialButton/MaterialButton.scss";
@import "./FloatingAction/FloatingAction.scss";
@import "./TitleBanner/TitleComponent.scss";
@import "./Analitica/ChartCardComponent.scss";
@import "./Analitica/ValueChartComponent.scss";
@import "./Analitica/AnaliticaSection.scss";
@import "./Foot/FootComponent.scss";
@import "./Management/ManagementSection.scss";
@import "./Analitica/SwitchComponent.scss";

.body-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
