// ----- ----- REACT AND MCW ----- ----- //
// don't touch this section //
$mdc-theme-primary:    #4caf50;
$mdc-theme-secondary:  #fdd835;
$mdc-theme-background: #fff;
$mdc-theme-important: #ef5350;
$mdc-theme-important_: #fbc02d;

@import "./MaterialButton/MaterialButton.scss";
@import "./FloatingAction/FloatingAction.scss";
@import "./TitleBanner/TitleComponent.scss";
@import "./Analitica/ChartCardComponent.scss";
@import "./Analitica/ValueChartComponent.scss";
@import "./Foot/FootComponent.scss";
@import "./Management/ManagementSection.scss";
@import "./Analitica/SwitchComponent.scss";
@import "./Analitica/AnaliticaSection.scss";
@import "./Analitica/RoomAnaliticaComponent.scss";
@import "./Management/SensorComponent.scss";
@import "./Management/RoomManagementComponent.scss";

.body-wrapper {
  width: 100%;
  position: relative;
}

.switch-wrapper {
  position: absolute;
  width: 100%;
}
