[Unit]
Description=eWee Raspberry master
Requires=mongodb.service
After=mongodb.service
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node /opt/eWee/network/raspberry-pi/master.js
WorkingDirectory=/opt/eWee/network/raspberry-pi
Restart=always
RestartSec=1
TimeoutStartSec=10
TimeoutStopSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ewee-raspberry-master

[Install]
WantedBy=multi-user.target
