[Unit]
Description=Smartness daemon
Requires=mongodb.service
After=mongodb.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/MCPS/smartness/smartd.py
ExecReload=/bin/kill -USR1 $MAINPID
WorkingDirectory=/opt/MCPS/smartness
Restart=always
RestartSec=1
TimeoutStartSec=10
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target