.disable-select-app {
  max-width: 200px;
  position: relative;
  z-index: -1;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select-max-height {
  max-height: 100px;
}
