@import "@material/card/mdc-card";

.chart-card-wrapper {
  width: 400px;
  height: 400px;

  padding: 10px;
  margin: 10px;
}

// /// /// /// CARDS /// /// /// //
.card__primary {
  padding: 1rem;
}

.card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}

.card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);
  word-wrap: break-word;
  width: 400px;
  padding: 0 1rem 8px 1rem;
}
